<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" >
    <link rel="stylesheet" href="/static/aboutUs.css">
    <link rel="stylesheet" href="/static/dropdown_profile.css">
    <link rel="stylesheet" href="/static/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

    <title>AboutUs page</title>
</head>

<body>

    <section class="aboutUs-header">
        <header>
            <nav>
                <!-- to add the logo-->
                <a href="/"><img src="/static/logo1.png" class="logo"></a> 
                    <ul>
                        <li><a href="/aboutUs">ABOUT US</a></li>
                        <li><a href="/search">EXPLORE</a></li>  
                        <li><a href="/review">REVIEWS</a></li>                      
                    </ul>
                <img src="/static/images/user.png" class="user-pic" onclick="toggleMenu()">

                <div class="sub-menu-wrap" id="subMenu">
                    <div class="sub-menu">
                        <div class="user-info">
                            <img src="/static/images/user.png">
                            <h3>{{user1}} {{user2}}</h3>
                        </div>
                        <hr>
                        <a href="/profileEdit" class="sub-menu-link">
                            <img src="/static/images/setting.png">
                            <p>Edit Profile</p>
                            <span>></span>
                        </a>
                        <a href="/logout" class="sub-menu-link">
                            <img src="/static/images/logout.png">
                            <p>Logout</p>
                            <span>></span>
                        </a>
                    </div>
                </div>
            </nav>
        </header>
        
        <div class="container">
            <!-- <h2>ABOUT US</h2> -->
            <!-- <hr> -->
            <p>TravelEz is more than just a travel platform. We're your dedicated companions on the road to discovery.
                    With a team of seasoned travel enthusiasts, we bring a wealth of expertise to ensure your 
                    adventures and nothing short of extraordinary   </p>
        </div>
        
    
        <section class="team">
            <div class="center">
                <h1>Our Team</h1>
            </div>
    
            <div class="team-content">
                <div class="box">
                    <img src="/static/aboutUs/Tharusha.jpeg" style="height: 140px;">
                    <h3>Tharusha Fernando</h3>
                    <h5>Tharusha leads ontology and knowledge graph development, critical for TravelEz's recommendation system. He also 
                        configures Flask components for seamless model integration.</h5>
                </div>
    
                <div class="box">
                    <img src="/static/aboutUs/neri.jpeg">
                    <h3>Neri Meneripitiyage</h3>
                    <h5>Neri manages data preprocessing, Figma prototype design, UI development, and 
                        database management, ensuring a smooth data flow throughout our system.</h5>
                </div>
    
                <div class="box">
                    <img src="/static/aboutUs/arfadh.jpeg">
                    <h3>Mohamed Arfadh</h3>
                    <h5>Arfadh specializes in model training, ensuring our system's algorithms 
                        are optimized for accurate and efficient recommendations.</h5>
                </div>
    
                <div class="box">
                    <img src="/static/aboutUs/thenuki1.jpg">
                    <h3>Thenuki Janmaweera</h3>
                    <h5>Thenuki focuses on UI development and Flask implementation, crafting user-friendly 
                        interfaces and efficient backend processes.</h5>
                </div>
    
            </div>
        </section>
        
    </section>

    <footer>
        <div class="footer-content">
            <div class="footer-logo">
                <a href="/"><img src="/static/logo1.png" alt="Logo"></a>
            </div>
            <div class="footer-links">
                <ul>
                    <li><a href="/aboutUs">ABOUT US</a></li>
                    <li><a href="/search">EXPLORE</a></li>
                    <li><a href="/review">REVIEWS</a></li>
                </ul>
            </div>
            <div class="footer-social">
                <h4>follow us</h4>
                <ul>
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
  	 				<li><a href="#"><i class="fab fa-twitter"></i></a></li>
  	 				<li><a href="#"><i class="fab fa-instagram"></i></a></li>
  	 				<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 TravelEz. All rights reserved.</p>
        </div>
    </footer>

    <script>
        let subMenu = document.getElementById("subMenu");

        function toggleMenu(){
            subMenu.classList.toggle("open-menu")
        }
    </script>

</body>

</html>
