<!DOCTYPE html>
<html lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" >
    <title>Main Page</title>
    <link rel="stylesheet" href="/static/MainPage.CSS">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
</head>

<body>

    <section class="header">
        <header>
            <nav>
                <!-- to add the logo-->
                <a href="/"><img src="/static/logo1.png"></a>
                
            </nav>
        </header>
        <div class="text-box-h1">
            <h1>Discover Your Perfect</h1>
            <h1>Journey with Us</h1>
        </div>
        <div class="text-box-p">
            <p>Dream Destinations | Expert Travel Agents</p>
            <p>Charming Accommodations | Culinary Delights</p>
            <a href="/signup" class="hero-btn">GET STARTED</a>
        </div>
        
    </section>

</body>

</html>
